
<div class="body">
  <p><strong>Ajouter une bouteille personnelle (non listé)</strong></p>
  

  <form [formGroup]="formAjout" class="formulaire" (ngSubmit)="ajouterBouteille()">
    <mat-form-field class="">
      <mat-label>Nom du vin</mat-label>
      <input matInput type="text" formControlName="nom">
    </mat-form-field>

  

    <mat-form-field class="">
      <mat-label>Millesime</mat-label>
      <input matInput type="number" formControlName="millesime" min="1800">
    </mat-form-field>

    <mat-form-field class="">
      <mat-label>Type</mat-label>
      <mat-select formControlName="type">
        <mat-option value="1">Vin rouge</mat-option>
        <mat-option value="2">Vin blanc</mat-option>
      </mat-select>
    </mat-form-field>
    
    <mat-form-field class="">
      <mat-label>Pays</mat-label>
      <mat-select formControlName="pays">
        <mat-option *ngFor="let pays of paysList" [value]="pays.id">{{ pays.nom }}</mat-option>
      </mat-select>
    </mat-form-field>
    
    <mat-form-field class="">
      <mat-label>Description</mat-label>
      <input matInput type="text" formControlName="description">
    </mat-form-field>
    <mat-form-field class="">
      <mat-label>Format</mat-label>
      <input matInput type="text" formControlName="format">
    </mat-form-field>
    <mat-form-field class="">
      <mat-label>Prix</mat-label>
      <input matInput type="number" formControlName="prix" min="0">
    </mat-form-field>
    <mat-form-field class="">
      <mat-label>Garde</mat-label>
      <input matInput type="number" formControlName="garde_jusqua" min="2023">
    </mat-form-field>

    <mat-form-field class="">
      <mat-label>Date d'achat</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date_achat">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="">
      <mat-label>Quantité</mat-label>
      <input matInput type="number" formControlName="quantite" min="1">
    </mat-form-field>

    <mat-form-field class="">
      <mat-label>Note</mat-label>
      <input matInput type="text" formControlName="note">
    </mat-form-field>

    <div class="button">
      <button type="submit">Ajouter</button>
    </div>
  </form>
</div>


<app-footer-auth></app-footer-auth>
