<div class="mat-typography">

    <h2>Enregistrer</h2>

    <form>
        <mat-form-field>
            <mat-label>Nom</mat-label>
            <input matInput id="nom" type="text" placeholder="Votre Nom" name="nom" required />
        </mat-form-field>

        <mat-form-field>
            <mat-label>Courriel</mat-label>
            <input matInput id="courriel" type="email" name="courriel" placeholder="courriel@example.com" required />
        </mat-form-field>

        <mat-form-field>
            <mat-label>Mot de passe</mat-label>
            <input matInput id="mot_de_passe" type="password" name="mot_de_passe" placeholder="Mot de passe" required />
        </mat-form-field>

        <mat-form-field>
            <mat-label>Confirmation du mot de passe</mat-label>
            <input matInput id="confirmation_mot_de_passe" type="password" name="confirmation_mot_de_passe"
                placeholder="Confirmation du mot de passe" required />
        </mat-form-field>

        <div>
            <button mat-raised-button class="btn btn--form" type="submit">Enregistrer</button>
        </div>
        
        <p><small><a routerLink="/login">Avez-vous un compte?</a></small></p>
    </form>

</div>