<div class="body">

  <div class="logo-container">
    <a href="accueil"><img src="assets/vino-logo-black.svg" alt="Vino logo"></a>
  </div>     

  <h2 class="smtitle center">Enregistrer</h2>

  <form class="example-form" [formGroup]="enregistrer" (ngSubmit)="enregistrerSubmit()">
    <input type="hidden" formControlName="role_id">

    <mat-form-field class="example-full-width">
      <mat-label>Nom</mat-label>
      <input matInput formControlName="nom">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Courriel</mat-label>
      <input matInput formControlName="courriel">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Mot de passe</mat-label>
      <input matInput [type]="'password'" formControlName="mot_de_passe">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Confirmation du mot de passe</mat-label>
      <input matInput type="password" formControlName="confirm_password">
      <!-- <mat-error *ngIf="enregistrer.hasError('passwordsDoNotMatch')">
        Les mots de passe ne correspondent pas
      </mat-error> -->
    </mat-form-field>
    <p class="passwordsDoNotMatch" *ngIf="passwordsDoNotMatch">Les mots de passe ne correspondent pas...</p>

    <div class="footer center">
      <button mat-raised-button class="mat-button-rounded" routerLinkActive="actif">Enregistrer</button>
      <!-- <div class="menu">
        <button type="submit" class="">Enregistrer</button>
      </div> -->
      <p class="error-login" *ngIf="error">{{ message_error }}</p>
      <div class="redirect">

        <p class="reg_login"><small><a routerLink="/login">Avez-vous une compte?</a></small></p>
      </div>
    </div>
  </form>
</div>