<div class="body">
  <div class="logo-container">
    <a href="accueil"><img src="assets/vino-logo-black.svg" alt="Vino logo"></a>
  </div>      
  <h2 class="smtitle center">Login</h2>

  <form class="example-form" [formGroup]="loginForm" (ngSubmit)="submitLogin()">

    <mat-form-field class="example-full-width">
      <mat-label>Courriel</mat-label>
      <input matInput value="" formControlName="email" placeholder="courriel@example.com" required>
      <mat-error *ngIf="error">{{ message_error}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Mot de passe</mat-label>
      <input matInput [type]="'password'" formControlName="password" placeholder="Mot de passe" required>
      <mat-error *ngIf="error">{{ message_error}}</mat-error>
    </mat-form-field>

    <small class="error-login" *ngIf="error">{{ erreurMessage }}</small>

    <div class="footer center">
      <button mat-raised-button class="mat-button-rounded"
        routerLinkActive="actif">Connexion</button>

      <p class="erreur" *ngIf="error">{{ message_error }}</p>
      <div class="redirect">
        <p><a routerLink="/enregistrer">Voulez-vous s'enregistrer?</a></p>
        <p><a routerLink="/accueil">Accueil</a></p>
      </div>
    </div>
  </form>
</div>