@media (min-width: 220px) {
  .footer,
  .footer {
    padding: 2% 9% 1rem;
    font-size: 1.2rem;
    text-align: center;
  }

  .footer .menu,
  .footer .menu {
    display: flex;
    justify-content: center;
    margin:auto;
    background: rgb(230 255 241);
    width: 47%;
    padding: 3%;
    border-radius: 6rem;
    box-shadow: 2px 1rem 1rem rgb(4 4 4 / 25%);
  }

  .footer .menu a,
  .footer .menu a {
    color: rgb(0 0 0 / 37%);
    background: rgb(230 255 241);
    position: relative;
  }

  .footer .menu a.active::before,
  .footer .menu a.active::before {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    background-color: #5fcb9c;
    position: absolute;
    bottom: -1px;
    left: 40%;
    border-radius: 50%;
  }

  .footer .menu a i,
  .footer .menu a i {
    background: rgb(230 255 241);
  }

  .footer .menu a.active,
  .footer .menu a.active {
    color: #5fcb9c;
  }

  .footer .redirect {
    padding-top: 5%;
  }

  .footer .redirect p {
    padding:2% 0;
    font-size: 1rem;
    text-align: center;
    color: #000000;
  }

  .footer .redirect p a {
    color: rgb(0, 0, 0)
  }

  .copy {
    font-size: 0.8rem;
  }
}

@media (min-width: 600px) {
  .footer {
    font-size: 3.5rem;
  }

  .footer .redirect {
    padding-top: 2%;
    color: #000000;
  }

  .footer .redirect p {
    padding:2% 0;
    font-size: 1rem;
    text-align: center;
    color: #000000;
  }
  .footer,
  .footer {
    font-size: 2rem;
  }

  .footer {
    font-size: 2.5rem;
    position: inherit;
  }

  .footer .menu a.active::before,
  .footer .menu a.active::before {
    width: 10px;
    height: 10px;
  }

  .footer .redirect {
    padding-top: 10%;
    color: #000000;
  }

  .footer .redirect p {
    padding:2% 0;
    font-size: 2rem;
    text-align: center;
    color: #000000;
  }

  .footer .menu,
  .footer .menu {
    display: flex;
    justify-content: center;
    margin:auto;
    background: rgb(230 255 241);
    width: 43%;
    padding: 2%;
    border-radius: 6rem;
    box-shadow: 2px 1rem 1rem rgb(4 4 4 / 25%);
  }

}

@media (min-width: 1024px) {
  .footer,
  .footer {
    font-size: 4rem;
  }

  .footer .menu,
  .footer .menu {
    display: flex;
    justify-content: center;
    margin:auto;
    background: rgb(230 255 241);
    width: 42%;
    padding: 3%;
    border-radius: 6rem;
    box-shadow: 2px 1rem 1rem rgb(4 4 4 / 25%);
  }
}
