.modifier-cellier {
  padding-top: 20%
}

mat-form-field {
  width: 100%;
}

div.button {
  text-align: center;
  margin-top: 10%;
}

div.button button {
  background: #e7fff2;
  width: 60%;
  padding: 1rem;
  font-size: 1.3rem;
  border-radius: 6rem;
  box-shadow: 2px 1rem 1rem rgb(4 4 4 / 25%);
}
