<div class="header" *ngIf="estUtilisateurConnecte()">

  <button mat-icon-button class="mat-button-rounded mat-raised-button" (click)="retourner()"
    routerLinkActive="actif"><mat-icon>arrow_back</mat-icon></button>

  <!-- <a href="#"><i class="arrow-left bx bx-left-arrow-alt"></i></a> -->

  <a routerLink="/"><img src="assets/vino-logo-black.svg" alt="Vino logo" width="150"></a>

  <button mat-icon-button class="mat-button-rounded mat-raised-button" routerLink="/listeAchat"
    routerLinkActive="actif"><mat-icon>shopping_basket</mat-icon></button>

  <!-- <a href="#"><i class="bx bxs-cart" data-content="0"></i></a> -->

</div>

<!--<div class="search-box">
    <mat-icon>search</mat-icon><input type="text" name="search" id="search" placeholder="Rechercher" />
  </div> -->