<div class="body">
  <div class="header">
    <div class="logo-container">
        <a href="/accueil"><img src="assets/vino-logo-black.svg" alt="Vino logo"></a>
      </div>      
</div>
   <!-- <div class="produit">
   <div class="resume-produit">
      <img src="../../../assets/vin.svg" alt="vin.png" />
      <img src="../../../assets/cellar-dospng.png" alt="cellar.png" />
      <img src="../../../assets/vin.svg" alt="vin.png" />
    </div>
  </div> -->
  <div class="description-note">
    <div class="notes card">
      <h2>Bienvenue sur Vino!</h2>
      <p>
        Nous sommes ravis de pouvoir vous offrir nos services de gestion pour vos celliers de vins! 
      </p>
    </div>
  </div>
</div>
<app-footer></app-footer>
